<div class="row"> 
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="center">About Us</h1>
    <ul class="list">We made these following for you to do in this application:
      <li>Family members or friends should be able to create accounts for themselves in this app</li>
      <li>You should be able to add First Name, Last Name, MI, Address</li>
      <li>You should be able to edit your own information</li>
      <li>You should be able to delete your own information</li>
      <li>Only family members or friends themselves will be able to edit their own information</li>
      <li>Address information can be seen by other family members or friends</li>
      <li>All members should have access to the main functions of this app</li>
    </ul>
  </div>
</div> 
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>