<div class="row"> 
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="center">About This Application</h1>
    <ul class="list">We made these following for you to do in this application:
      <li>Family members or friends should be able to create accounts for themselves in this app</li>
      <li>You should be able to add First Name, Last Name, MI, Address</li>
      <li>You should be able to edit your own information</li>
      <li>You should be able to delete your own information</li>
      <li>Only family members or friends themselves will be able to edit their own information</li>
      <li>Address information can be seen by other family members or friends</li>
      <li>All members should have access to the main functions of this app</li>
    </ul>
  </div>
</div> 
